.card-wrapper {
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.card {
  padding: 15px 15px;
  width: max-content;
  margin: 4em auto 3em;
}

.form-container {
  padding: 10px;
}

.form {
  max-width: fit-content;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  padding-left: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebebeb;
  margin: 10px 32px 0 10px;
}

.form-element {
  padding: 5px 0px 0px 2px;
  width: 100%;
  font-size: 14px;
}

.button {
  background: #292929;
  padding: 0px 40px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  letter-spacing: .025em;
  border-radius: 0;
  height: 44px;
}

@media (min-width: 480px) {
  .form {
    max-width: 400px;
  }
}
