.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background: #fafafa;
}

.nav-wrapper,
.content-wrapper {
  padding: 0 .9375em 0;
}

.content-wrapper {
  width: 100%;
}

@media (min-width: 800px) {
  .row {
    flex-direction: row;
    align-items: initial;
    padding: 3.5em 3em 4.5em;
  }
}
