<app-titlebar
  class="title-img"
  [style.background-image]="'url(' + titleImg + ')'"
  [titleText]="titleText"
></app-titlebar>
<div class="content-wrapper">
  <div class="content">
    <div class="left-image-wrapper">
      <div class="left-image">
        <img [src]="aboutPageImage" />
      </div>
    </div>
    <div class="about-text">
      <h3>Our story</h3>
      <p>
        Phasellus egestas nisi nisi, lobortis ultricies risus semper nec.
        Vestibulum pharetra ac ante ut pellentesque. Curabitur fringilla dolor
        quis lorem accumsan, vitae molestie urna dapibus. Pellentesque porta est
        ac neque bibendum viverra. Vivamus lobortis magna ut interdum laoreet.
        Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce
        eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla
        turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida.
        Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis,eu sodales
        lectus sagittis. Etiam pellentesque, magna vel dictum rutrum, neque
        justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis
        ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula
        ac ligula. Vivamus tristique vulputate ultricies. Sed vitae ultrices
        orci.
      </p>
      <div class="quote">
        <p>
          Creativity is just connecting things. When you ask creative people how
          they did something, they feel a little guilty because they didn't
          really do it, they just saw something. It seemed obvious to them after
          a while.
        </p>
        <span class="author-name"> - Steve Job’s </span>
      </div>
    </div>
  </div>
</div>
