h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #222222;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 5%;
}

.slide-image {
  min-height: 10vh;
}

// @media (min-width: 280px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }

// @media (min-width: 350px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }

// @media (min-width: 430px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }

// @media (min-width: 500px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }

// @media (min-width: 600px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }

// @media (min-width: 780px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }

// @media (min-width: 960px) {
//   .slide-image {
//     min-height: 10vh;
//   }
// }
