.state-wrapper {
  padding: 1em;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
}

.button {
  color: white;
  background: #0f9aee;
  border-radius: 2em;
}
