@import '../common-style';

.container{
    display:block ;
    position:relative;
    height: 600px;
    background: #fafafa;
}

.row {
    padding-top: 80px;
    display: flex;
}

.nav .mat-card {
    margin-left: 77px;
    border-radius: 0;
    margin-right: 8px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 120px;


    a {
        margin-left: 10px;
        color: #6c757d;
        font-weight: 400;
        text-decoration: none;
    }
}

.subcontainer .mat-card {
    width: 100%;
}

.card-header {
    width: 100%;
    height: 5%;
    color: #262626;
    font-family: Roboto,"sans-serif";
    font-weight: 400;
    margin: 0 40px 0 15px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.card-body {
    margin: 0 40px 0 15px;
    width: 100%;
    border-radius:0 ;
}

.card {
    width: 65%;
}