<div class="password">
  <div class="row">
    <div class="card">
      <mat-card class="card-header">
        <h2>Change Password</h2>
      </mat-card>
      <mat-card class="card-body">
        <div class="form-container">
          <form [formGroup]="pwdForm" class="form">
            <mat-label>{{ pwdBox.title1 }}</mat-label>
            <mat-form-field class="form-element" appearance="fill">
              <input type="password" matInput formControlName="title1" />
              <mat-error *ngIf="func['title1'].invalid">
                {{ getError("title1") }}
              </mat-error>
            </mat-form-field>

            <mat-label>{{ pwdBox.title2 }}</mat-label>
            <mat-form-field class="form-element" appearance="fill">
              <input type="password" matInput formControlName="title2" />
              <mat-error *ngIf="func['title2'].invalid">
                {{ getError("title2") }}
              </mat-error>
            </mat-form-field>

            <mat-label>{{ pwdBox.title3 }}</mat-label>
            <mat-form-field class="form-element" appearance="fill">
              <input type="password" matInput formControlName="title3" />
              <mat-error *ngIf="func['title3'].invalid">
                {{ getError("title3") }}
              </mat-error>
            </mat-form-field>

            <br /><br />
            <button
              mat-flat-button
              type="submit"
              class="button button-m"
              [disabled]="pwdForm.invalid"
              ng-click="turnBlack()"
            >
              {{ pwdBox.button }}
            </button>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
