<div class="user-details">
  <h3 class="main-head">My Account</h3>
  <button mat-flat-button (click)="onLogout()" class="button">LOGOUT</button>
  <div class="grid">
    <div class="grid-item">
      <h3>Order History</h3>
      <p>You haven't placed any orders yet</p>
    </div>
    <div class="grid-item">
      <h3>Account Details</h3>
      <table class="table">
        <tbody>
          <tr>
            <td class="text-left">
              <h5>Sourajit Banerjee</h5>
            </td>
            <td class="text-right">
              <p>
                <a>View Addresses (0)</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
