<div class="container">
  <div class="side-nav">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="navigation">
        <th mat-header-cell *matHeaderCellDef class="title">Navigation</th>
        <td mat-cell *matCellDef="let element" class="options">
          <a routerLink="./">
            {{ element.nav }}
          </a>
        </td>
      </ng-container>

      <td mat-footer-row *matFooterRowDef="title" class="mat-footer-row">
        <a routerLink="#"> Logout </a>
      </td>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>
  <div class="order-detail">
    <mat-card class="matCard">
      <mat-card-header>
        <mat-card-title
          >Order #9478
          <a routerLink="/website/orders">
            <button mat-button>Back to list</button>
          </a>
        </mat-card-title>
        <mat-card-subtitle
          >Was placed on <b>{{ date }}</b> and is currently <b>{{ status }}</b
          >.</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>

    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z1">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef class="title">Product</th>
        <td mat-cell *matCellDef="let element">{{ element.product }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="title">Total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.total | currency: "USD" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay2"></tr>
    </table>
    <mat-card class="card">
      <mat-card-subtitle> Subtotal</mat-card-subtitle>
      <mat-card-subtitle> {{ subtotal | currency: "USD" }}</mat-card-subtitle>
    </mat-card>
    <mat-card class="card">
      <mat-card-subtitle> Shipping</mat-card-subtitle>
      <mat-card-subtitle> {{ shipping | currency: "USD" }}</mat-card-subtitle>
    </mat-card>
    <mat-card class="card">
      <mat-card-subtitle> tax</mat-card-subtitle>
      <mat-card-subtitle>{{ tax | currency: "USD" }}</mat-card-subtitle>
    </mat-card>
    <mat-card class="totalCard">
      <mat-card-subtitle> Total</mat-card-subtitle>
      <mat-card-subtitle> {{ total | currency: "USD" }}</mat-card-subtitle>
    </mat-card>
    <br />
    <div class="sub-container">
      <div class="billingAdd">
        <mat-card>
          <button
            mat-raised-button
            color="primary"
            matBadgePosition="before"
            matBadgeColor="accent"
          >
            BILLING ADDRESS
          </button>
          <mat-card-subtitle>{{ name }}</mat-card-subtitle>
          <mat-card-content>{{ address }}</mat-card-content>
          Phone Number
          <mat-card-content>{{ phone }}</mat-card-content>
          Email Address
          <mat-card-content>{{ email }}</mat-card-content>
        </mat-card>
      </div>

      <div class="shippingAdd">
        <mat-card>
          <button
            mat-raised-button
            color="primary"
            matBadgePosition="before"
            matBadgeColor="accent"
          >
            SHIPPING ADDRESS
          </button>
          <mat-card-subtitle>{{ name }}</mat-card-subtitle>
          <mat-card-content>{{ address }}</mat-card-content>
          Phone Number
          <mat-card-content>{{ phone }}</mat-card-content>
          Email Address
          <mat-card-content>{{ email }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
